[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
sqlalchemy = "*"
marshmallow = "*"
bcrypt = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-bcrypt = "*"
psycopg2-binary = "*"
pyjwt = "*"
marshmallow-sqlalchemy = "*"
flask-socketio = "*"

[requires]
python_version = "3.7"
