section.message-page{
  height: 100vh;
  overflow: hidden;

  .new-message{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    cursor: pointer;
  }

}
