section.support-page{

  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .message-body{
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 0;
    margin-top: 72px;
    height: 60vh;

    & > *{
      padding: 10px;
    }

    .menu{
      align-self: flex-start;
      z-index: inherit;
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      margin: 15px;
    }
  }

  .empty{
    min-height: 60vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-grow: 1;
  }

  .new-message{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    cursor: pointer;
  }


  .messages{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 220px;
    .message{
      width: 380px;
      min-width: 50vw;
      border-radius: 5px;
      margin: 5px 5px;
      box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);

      & .card-header{
        padding: .5rem;
      }

      &.my-message{
        align-self: flex-end;
      }

      &.incoming-message{
        background-color: #fdda154f;
      }

    }
  }

  .message-bottom{
    background-color: $secondary-colour;
    border-top: .05rem solid #dadee4;
  }


}

footer{
  display: none;
}