section.banking-page{

  .currency{
    width: 60px;
    text-align: center;
  }

  .charts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    p{
      margin: 0;
    }
    .chart{
      width: 380px;
      padding: 5px;
      border-radius: 5px;
      margin: 5px 5px;
      box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
    }
    .small-chart{
      margin-top: 20px;
      height:130px;
    }
  }
  .chip.add-filter{
    cursor: pointer;
  }
  .transaction-table{
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 500px){
  section.banking-page{
    .hero.bank-head{
      padding-bottom: 0;
    }
    .charts{
      padding: 10px 0;
      .chart{
        width: 90vw;
      }
    }
  }
}
