section.banking-page{
  .hero.bank-head{
    background-color: $base-color;
  }
  ul.tab-block{
    background-color: $base-color;
    margin-top: 0;
    margin-bottom: 0;
  }

  .empty{
    min-height: 60vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .currency{
    width: 60px;
    text-align: right;
  }

  .charts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .chart{
      width: 380px;
      padding: 5px;
      border-radius: 5px;
      margin: 5px 5px;
      box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
    }
  }
}
