section.home-page{

  .hero-lg{
    min-height: 80vh;
    padding-top: 12rem;
    padding-bottom: 10rem;
    background-image: url('./assets/img/bank-small.png');
    background-color: $base-colour;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;


    .titles{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      & > *{
        margin: 0;
      }
    }

  }

  .bank-card{
    width: 350px;
    height: 200px;
    background-color: $base-colour;
    border-radius: 10px;
    box-shadow: 10px 10px 1rem rgba(48,55,66,6);
    padding: 3px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1{
      font-size: 3rem;
      margin: 0;
    }
  }


  // .perspective{
  //   perspective: 110px;
  //   position: absolute;
  //   top: 35%;
  //   left: 50%;
  //
  //   .bank-card{
  //     width: 350px;
  //     height: 200px;
  //     background-color: $base-colour;
  //     border-radius: 10px;
  //     box-shadow: 10px 10px 1rem rgba(48,55,66,6);
  //     padding: 3px 10px;
  //     transform-style: preserve-3d;
  //     transform: rotateX(6deg);
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-between;
  //     h1{
  //       font-size: 3rem;
  //       margin: 0;
  //     }
  //   }
  // }


}
