section.support-page{

  height: 100vh;
  overflow: hidden;

  .message-body{
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 0;
    margin-top: 72px;
    height: 60vh;

    & > *{
      padding: 10px;
    }
  }
  .menu{
    align-self: flex-start;
    z-index: inherit;
    position: absolute;
    top: 75px;
    left: -190px;
    width: 200px;
    margin: 15px;
    transition: left 1s;
  }

  .menu:hover, .menu:active{
    left: 0;
  }

  &.empty-section{
    .menu{
      left: 0;
    }
  }

  .message-form{
    background-color: $secondary-colour;
  }

  .new-message{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    cursor: pointer;
  }
  
  footer{
    display: none;
  }
}

@media only screen and (max-width: 500px){
  section.support-page{
    .menu{
      top: 44px;
    }
  }
}