section.message-page{
  .hero.message-head{
    background-color: $base-colour;
  }
  ul.tab-block{
    background-color: $base-colour;
    margin-top: 0;
    margin-bottom: 0;
  }

  .empty{
    min-height: 60vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .new-message{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    cursor: pointer;
  }


  .messages{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .message{
      width: 380px;
      min-width: 50vw;
      padding: 5px;
      border-radius: 5px;
      margin: 5px 5px;
      box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);

      &.my-message{
        align-self: flex-end;
      }

      .archive{
        cursor: pointer;
        color: #888;
      }
    }
  }
}
