section.home-page{

  .hero-lg{
    min-height: 100vh;
    background-image: url('./assets/img/bank.png');
    background-color: $base-colour;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;


    .titles{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 20px;
      height: 100%;

      h2{
        font-size: 2.8em;
      }
      p{
        font-size: 1.6em;
      }

      & > *{
        margin: 10px 0;
      }

      .text-base{
        display: inline-block;
        background-color: black;
        color: $base-colour;
        padding: 3px 8px;
        box-shadow: -1px -1px $base-colour;
      }

    }

  }

  

  .step .step-item{
    &::before{
      background: $base-colour;
    }
    &.active a::before{
      border-color: $tertiary-colour;
    }
    a:before{
      background: $base-colour;
    }
    a{
      color: inherit;
    }
  } 

  .bank-card{
    width: 350px;
    height: 200px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 1px 1px 20px $base-colour;
    padding: 3px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
    color: $base-colour;
    

    h1{
      font-size: 2.8rem;
      margin: 0;
    }
  }

}


@media only screen and (max-width: 500px){
  section.home-page .hero-lg{
    flex-direction: column;
    .bank-card{
      width: 250px;
      height: 120px;
      h1{
        font-size: 1.3rem;
      }
      samp{
        font-size: 0.7rem;
      }
    }
  }

  .titles{
    padding-right: 0;
  }

  .step{
    display: block;
    .step-item{
      text-align: left;
      a:before{
        left: 0;
        top: calc(50% + 5px);
      }
    }
    .step-item:not(:first-child)::before {
      width: 2px;
      height: 100%;
      left: 0;
      top: calc(-50% + 5px);
    }
  }
}