$base-colour: #ffda14;
$secondary-colour: #14afff;

@import "styleHomePage";
@import "styleBankingPage";
@import "styleMessagePage";
@import "styleMenu";

a, a:hover, a:visited, a:active{
  color: #3b4351;
  text-decoration: none;
}


main > section{
  & > div{
    padding: 20px 40px 20px 40px;
  }
}

section > *:first-child{
  padding-top: 140px;
}

main{
  min-height: 100vh;
  section{
    height: 100%;
  }
}

.is-base{
  background-color: $base-colour;
}
.is-secondary{
  background-color: $secondary-colour;
}

.text-base{
  display: inline-block;
  background-color: $base-colour;
  padding: 3px 8px;
  box-shadow: 10px 10px 1rem rgba(48,55,66,6);
}

form.form-horizontal input{
  width: 100%;
}

.tab-block{
  cursor: pointer;
}

.is-right{
  text-align: right;
}


footer{
  background-color: #333;
  color: #999;
  border-top: 3px solid #999;
  &{
    padding: 80px 40px 20px 40px;
  }
}
