$base-colour: #ffda14;
$light-colour: #ffee90;
$secondary-colour: #14afff;
$tertiary-colour: #464646;

@import "styleHomePage";
@import "styleBankingPage";
@import "styleLinkPage";
@import "styleMessagePage";
@import "styleSupportCentre";
@import "styleMenu";
@import "styleNotFound";

a, a:hover, a:visited, a:active, a:focus{
  color: #3b4351;
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

a.btn{
  background-color: #ffda14;
  border: 0;
  color: #646464;
}

.btn:focus, .btn:hover {
    background: $light-colour;
}


main > section{
  & > div{
    padding: 20px 40px 20px 40px;
  }
}

section > *:first-child{
  padding-top: 140px;
}

main{
  min-height: 100vh;
  section{
    height: 100%;
  }
}

button.btn{
  background-color: $base-colour;
  border: 0;
  color: rgba(100,100,100,1);
}

.btn.btn-link{
  color: black;
}

.is-base{
  background-color: $base-colour;
}
.is-secondary{
  background-color: $secondary-colour;
}
.is-tertiary{
  background-color: $tertiary-colour;
  color: white;
}

.empty{
  min-height: 50vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

form.form-horizontal input{
  width: 100%;
}

.tab-block{
  cursor: pointer;
}

.is-right{
  text-align: right;
}


footer{
  background-color: #333;
  color: #999;
  border-top: 3px solid #999;
  &{
    padding: 80px 40px 20px 40px;
  }
}
